<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PokeBinda</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/home.css" rel="stylesheet" />
    <link href="~/Content/card-grid.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PokeBinda - @ViewBag.Title</title>
</head>
<body>
    <div class="baseGrid">
        @* A grid seperated into a left and right *@
        <div class="scrollViewer tabContainer">
            @* Column 1 of baseGrid containing the tab buttons *@
            @Html.Action("Navigation", "Home")
        </div>
        <div class="layer1Grid">
            @* Column 2 Content and Start of inner grid *@
            <div class="pageHeader">
                @* Row 1 of layer1Grid *@
                <h1 class="headerText">@ViewBag.Title</h1>
            </div>
            <div class="pageContent">
                <h5 style="display:none;" id="loading-div">Loading...</h5>
                <div class="scrollViewer" id="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>