@model PokeBindaWebsite.Models.GroupModel

@{
    ViewBag.Title = "Group";
}

<div class="view-group-container">
    @Html.Hidden("currentGroup", Model.Group, new { id = "currently-viewing-group" })
    <div class="view-group-manipulation">
        @{
            AjaxOptions filterOptions = new AjaxOptions()
            {
                HttpMethod = "GET",
                LoadingElementId = "loading-div",
                LoadingElementDuration = 200,
                UpdateTargetId = "page-content"
            };
        }
        @using (Ajax.BeginForm("Group", "Collection", null, filterOptions, new { @class = "view-group-filter-form", method = "GET" }))
        {
            @Html.Hidden("group", Model.Group)
            SelectList types = new SelectList(Model.Options.Types);
            @Html.DropDownListFor(m => m.Options.Types, types, "Type", new { @class = "type-dropdown" })
            SelectList tags = new SelectList(Model.Options.Tags);
            @Html.DropDownListFor(m => m.Options.Tag, tags,"Tag", new { @class = "tag-dropdown" })
            SelectList pokemon = new SelectList(Model.Options.SelectablePokemon, "ID","Name");
            @Html.DropDownListFor(m => m.Options.Pokemon, pokemon, "Pokemon", new { @class = "pokemon-dropdown" })
            <button type="submit" class="filter-button">Apply</button>
        }
    </div>
    @Html.Partial("UserCards", Model.Cards)
</div>